@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-image: url(./asset/background.png);
    background-size: cover;
    text-align: center;
    color: white;
}

canvas{
    background-color: #DBAB91;
}
.button{
    margin: 25px;
}